
<div class="container">
  <h2 class= "title-lg mb">Новый вопрос</h2>


  <%= render 'form', question: @question %>
  
</div>


<%#
<form action="/questions" method="POST">
  <p><label for="question[body]">Текст вопроса</label></p>  
  <p><textarea name="question[body]" rows=5></textarea></p>
  <p><label for="question[user_id]">id</label></p>
  <p><input type="number" name="question[user_id]"</p>
  <p><input type="submit" value="Создать"></p>
</form>
%>