<div class="container">
  <h2 class= "title-lg mb" >Вопрос <%=@question.id%></h2>
  
  <%#можно убрать 'question', question: %>
  <%= render 'question', question: @question%>

  <p class="mt"><%=link_to "Все вопросы", "/questions"%></p>
</div>
