body {
  background: #E9C46A;
  display: flex;
  justify-content: center;
}

.wrapper{
  width: 100%;
  max-width: 800px;
  margin: 40px;
}

.container{
  background: #fff;
}

.container, .navbar {
  padding: 20px;
}

.navbar {
  align-items: center;
  background-color: #E76F51;
  color: white;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  text-decoration: none;
}